* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header, section, footer {
    box-sizing: border-box;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: sticky;
    top: 0;
    height: 60px;
    background-color: #2cbbdb;
}

#logo_header {
    width: 230px;
    height: 60px;
    background-color: #4ef261;
    float: left;
}

#menu_header {
    width: 500px;
    height: 60px;
    float: right;
}

#menu_header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu_header ul li {
    display: inline;
}

#menu_header ul li a {
    display: inline-block;
    width: 100px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-weight: bold;
}

#menu_header ul li a:hover {
    background-color: blueviolet;
    border-radius: 10px;
}

#inicio {
    background-image: url(imagenes/inicio.jpg);
    height: 660px;
    padding-top: 100px;
    background-color: #db6c2c;
}

#txt_inicio {
    width: 700px;
    height: 400px;
    border: 1px solid #fff;
    margin-left: auto;
    margin-right: auto;
}

#sobre_mi {
    height: 960px;
}

#sobre_mi div {
    width: 480px;
    height: 320px;
}

.caja_txt_sup {
    padding: 60px;
    background-color: #000;
    color: #fff;
    float: left;
}

.caja_txt_sup h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.caja_txt_sup p {
    text-align: center;
    font-size: 15px;
}

.caja_img_sup {
    background-image: url(imagenes/marisa.jpg);
    background-position: center;
    float: left;
}

.caja_img_med {
    background-image: url(imagenes/artesanias.jpg);
    float: left;
}

.caja_txt_med {
    padding: 60px;
    background-color: #000;
    color: #fff;
    float: left;
}

.caja_txt_med h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.caja_txt_med p {
    text-align: center;
    font-size: 15px;
}

.caja_txt_inf {
    padding: 60px;
    background-color: #000;
    color: #fff;
    float: left;
}

.caja_txt_inf h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.caja_txt_inf p {
    text-align: center;
    font-size: 15px;
}

.caja_img_inf {
    background-image: url(imagenes/tejidos.jpg);
    float: left;
}

.productos {
    height: 1550px;
    padding-top: 60px;
}

.titulos {
    width: 450px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#artesanias {
    background-color: #7991b5;
}

.img_art {
    width: 280px;
    height: 280px;
    margin-top: 60px;
    margin-left: 40px;
    background-color: #b33941;
    float: left;
}

.txt_art {
    width: 600px;
    height: 280px;
    margin-top: 60px;
    background-color: #5e69e6;
    float: left;
}

#tejidos {
    background-color: #e37a24;
}

.img_tej {
    width: 280px;
    height: 280px;
    margin-top: 60px;
    margin-right: 40px;
    background-color: #b33941;
    float: right;
}

.txt_tej {
    width: 600px;
    height: 280px;
    margin-top: 60px;
    background-color: #5e69e6;
    float: right;
}

#pinturas {
    background-color: #ad17b0;
}

.img_pint {
    width: 280px;
    height: 280px;
    margin-top: 60px;
    margin-left: 40px;
    background-color: #b33941;
    float: left;
}

.txt_pint {
    width: 600px;
    height: 280px;
    margin-top: 60px;
    background-color: #5e69e6;
    float: left;
}

footer {
    height: 200px;
    padding-top: 40px;
    background-color: #000;
}

#contacto {
    width: 300px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #86e67c;
}

#legal {
    width: 900px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d6532b;
}

