* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(240,240,240);
}

header, section, footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: sticky;
    top: 0;
    height: 50px;
    background-color: rgb(35,35,35);
}

#logo_header {
    width: 230px;
    height: 50px;
    padding: 5px 0px 5px 10px;
    float: left;
}

#logo_header .titulo_header {
    display: none;
}

#logo_header img {

    /* Resolución original del logo = 500 x 98 => 500*0.4 = 200px y 98*0.4 = 39.2px */

    width: 200px;
    height: 39.2px;
}

#menu_header {
    width: 500px;
    height: 50px;
    float: right;
}

#menu_header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu_header ul li {
    display: inline;
}

#menu_header ul li a {
    display: inline-block;
    width: 100px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: rgb(240,240,240);
}

#menu_header ul li a:hover {
    background-color: rgb(42,42,42);
}

#inicio {
    background-image: url(imagenes/inicio.jpg);
    height: 660px;
    padding-top: 140px;
}

#txt_inicio {
    width: 700px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

#txt_inicio h1 {
    color: rgb(255,240,219);
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
}

#txt_inicio h2 {
    color: rgb(255,240,219);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-top: 15px;
}

#sobre_mi {
    height: 960px;
}

#sobre_mi div {
    width: 480px;
    height: 320px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(35,35,35);
}

.caja_txt_sup {
    padding: 60px;
    color: rgb(240,240,240);
    float: left;
}

.caja_txt_sup h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

.caja_txt_sup p {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}

.caja_img_sup {
    background-image: url(imagenes/marisa.jpg);
    background-position: center;
    float: left;
}

.caja_img_med {
    background-image: url(imagenes/artesanias.jpg);
    float: left;
}

.caja_txt_med {
    padding: 60px;
    color: rgb(240,240,240);
    float: left;
}

.caja_txt_med h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

.caja_txt_med p {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}

.caja_txt_inf {
    padding: 60px;
    color: rgb(240,240,240);
    float: left;
}

.caja_txt_inf h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

.caja_txt_inf p {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}

.caja_img_inf {
    background-image: url(imagenes/tejidos.jpg);
    float: left;
}

.productos {
    height: 1550px;
    padding-top: 60px;
}

.titulos {
    width: 450px;
    height: 60px;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    text-align: center;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#artesanias {
    background-color:rgb(85,158,131);
}

.img_art {
    width: 280px;
    height: 280px;
    margin-top: 60px;
    margin-left: 40px;
    border-radius: 10px; 
    float: left;
}

.img_art_1 {
    background-image: url(imagenes/pesebre.jpg);
    background-position: center;
    background-size: cover;
}

.img_art_2 {
    background-image: url(imagenes/maceta_potter.jpg);
    background-size: cover;
}

.img_art_3 {
    background-image: url(imagenes/marco_vitro.jpg);
}

.img_art_4 {
    background-image: url(imagenes/colibri_vitro.jpg);
    background-size: cover;
}

.txt_art {
    width: 600px;
    height: 280px;
    margin-top: 60px;
    padding: 60px;
    background-color: rgb(220,237,193);
    border-radius: 10px; 
    float: left;
}

.txt_art h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.txt_art p {
    margin-top: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;   
}

#tejidos {
    background-color: rgb(255,170,165);
}

.img_tej {
    width: 280px;
    height: 280px;
    margin-top: 60px;
    margin-right: 40px;
    border-radius: 10px; 
    float: right;
}

.img_tej_1 {
    background-image: url(imagenes/sueter_rayado.jpg);
    background-position: center;
    background-size: cover;
}

.img_tej_2 {
    background-image: url(imagenes/gorro_de_lana.jpg);
    background-position: top;
    background-size: cover;
}

.img_tej_3 {
    background-image: url(imagenes/sueter_capucha.jpg);
    background-size: cover;
}

.img_tej_4 {
    background-image: url(imagenes/bufanda.jpg);
    background-size: cover;
}
 

.txt_tej {
    width: 600px;
    height: 280px;
    margin-top: 60px;
    padding: 60px;
    text-align: right;
    background-color: rgb(220,237,193);
    border-radius: 10px; 
    float: right;
}

.txt_tej h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.txt_tej p {
    margin-top: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px; 
}

#pinturas {
    background-color:rgb(85,158,131);
}

.img_pint {
    width: 280px;
    height: 280px;
    margin-top: 60px;
    margin-left: 40px;
    float: left;
}

.txt_pint {
    width: 600px;
    height: 280px;
    margin-top: 60px;
    background-color: rgb(220,237,193);
    float: left;
}

footer {
    height: 200px;
    padding-top: 40px;
    background-color: #000;
}

#contacto {
    width: 300px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #86e67c;
}

#legal {
    width: 900px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d6532b;
}

@media all and (max-width: 599px) {

    header, section, footer {
        width: 90%;
    }
    
    header {
        position: relative;
    }
    
    #logo_header {
        width: 150px;
        height: auto;
        padding: 10px 0 5px 10px;
        float: none;
    }
    
    #logo_header img {
        width: 100%;
        height: auto;
    }
    
    #menu_header {
        width: 100%;
        height: auto;
        float: none;
    }
    
    #menu_header ul li {
        display: block;
    }
    
    #menu_header ul li a {
        width: 100%;
        height: auto;
    }
    
    #inicio {
        height: 100vh; 
        padding-top: 15%;
        background-image: none;
        background-color: rgb(133,68,66);
    }

    #txt_inicio {
        width: 90%;
        height: auto;
        padding-top: 10%;
    }
    
    #txt_inicio h1 {
        font-size: 80px;
        color: rgb(240,240,240);
    }
    
    #txt_inicio h2 {
        font-size: 20px;
        color: rgb(240,240,240);
    }
    
    #sobre_mi {
        height: auto
    }
    
    #sobre_mi div {
        width: 100%;
        height: auto;
    }
    
    .caja_txt_sup {
        padding: 35px;
        float: none;
    }
    
    .caja_txt_sup p {
        margin-top: 20px;
    }
    
    #sobre_mi .caja_img_sup {
        height: 320px;
        background-position: left 40%;
        background-size: cover;
        float: none;
    }
    
    #sobre_mi .caja_img_med {
        display: none;
    }
    
    .caja_txt_med {
        padding: 35px;
        float: none;
    }
    
    .caja_txt_med p {
        margin-top: 20px;
    }
    
    .caja_txt_inf {
        display: none;
    }
    
    #sobre_mi .caja_img_inf {
        display: none;
    }

    .productos {
        padding: 50px 0 15px 0;
        height: auto;
    }
    
    .titulos {
        width: 100%;
        height: auto;
        font-size: 30px;    
    }
    
    .img_art {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    
    .txt_art {
        width: 90%;
        height: auto;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        text-align: center; 
        float: none;
    }
    
    .txt_art p {
        margin-top: 10px;  
    }
    
    .img_tej {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    
    .txt_tej {
        width: 90%;
        height: auto;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        text-align: center; 
        float: none;
    }
    
    .txt_tej p {
        margin-top: 10px;
    }
    
    .img_pint {
        width: 90%;
        margin-left: auto;
        margin-right: auto; 
        float: none;
    }
    
    .txt_pint {
        width: 90%;
        height: auto;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        text-align: center; 
        float: none;
    }
    
    footer {
        height: auto;
        padding-top: 40px;
    }
    
    #contacto {
        width: 100%;
        height: 70px;
    }
    
    #legal {
        width: 100%;
        height: 80px;
    }

} /* Fin @media Max-Width: 599px */

@media all and (min-width: 600px) and (max-width:1023px) {
    
    header, section, footer {
        width: 580px;
    }
    
    #logo_header {
        width: 107px;
        margin-left: 20px;
        padding: 0;
        background-image: none;
    }

    #logo_header .titulo_header {
        display: block;
        line-height: 46px;
        font-family: 'Alice', serif;
        font-size: 24px;
        color: rgb(240,240,240);
    }
    
    #logo_header img {
        display: none;
    }
    
    #menu_header {
        width: 375px;
    }
    
    #menu_header ul li a {
        width: 70px;
        font-size: 13px;
    }

    #inicio {
        height: 100vh;
        background-position: center;
        background-size: cover; 
    }
    
    #txt_inicio {
        width: 580px;
        height: 400px;
        padding-top: 0;
    }
    
    #sobre_mi {
        height: 1170px;
    }
    
    #sobre_mi div {
        width: 290px;
        height: 390px;
    }
    
    .caja_txt_sup {
        padding: 30px 40px 30px;
    }
    
    .caja_txt_sup h2 {
        font-size: 20px;
    }
    
    .caja_txt_sup p {
        font-size: 15px;
    }
    
    .caja_img_sup {
        background-position: left 60%;
    }
    
    .caja_img_med {
       background-position: 96% 0;
       background-size: cover;
    }
    
    .caja_txt_med {
        padding: 30px 40px 30px;
    }
    
    .caja_txt_med h2 {
        font-size: 20px;
    }
    
    .caja_txt_med p {
        font-size: 15px;
    }
    
    .caja_txt_inf {
        padding: 30px 40px 30px;
    }
    
    .caja_txt_inf h2 {
        font-size: 20px;
    }
    
    .caja_txt_inf p {
        font-size: 15px;
    }
    
    .caja_img_inf {
        background-image: url(imagenes/tejidos.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .productos {
        height: 2740px;
        padding-top: 50px;
    }
    
    .img_art {
        width: 540px;
        height: 370px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
        float: none;
    }
    
    .img_art_1 {
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .img_art_2 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .img_art_3 {
       background-repeat: no-repeat;
       background-position: center;
       background-size: contain;
    }
    
    .img_art_4 {
       background-repeat: no-repeat;
       background-position: center;
       background-size: contain;
    }
    
    .txt_art {
        width: 540px;
        height: 200px;
        margin-top: 20px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
        float: none;
    }
    
    .txt_art h4 {
        font-size: 20px;
    }
    
    .txt_art p {
        font-size: 15px;   
    }
    
    .img_tej {
        width: 540px;
        height: 370px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
        float: none;
    }

    .img_tej_1 {
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .img_tej_2 {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .img_tej_3 {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .img_tej_4 {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
     
    
    .txt_tej {
        width: 540px;
        height: 200px;
        margin-top: 20px;
        padding: 20px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
        float: none;
    }
    
    .txt_tej h4 {
        font-size: 20px;
    }
    
    .txt_tej p {
        font-size: 15px; 
    }
    
    .img_pint {
        width: 540px;
        height: 370px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
        float: none;
    }

    .txt_pint {
        width: 540px;
        height: 200px;
        margin-top: 20px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    
    #legal {
        width: 580px;
    }

} /* Fin @media Min-Width: 600px y Max-Width: 1023px */

